/*-----------------
style the elements
-----------------*/

body {
    background-image: url(music-violin.jpg);
}

/*-----------------
style the classes
-----------------*/
.btn {
    background-color: royalblue;
    border: 5px solid beige;
    font-size: 14pt;
    font-weight: bolder;
}

.question {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
}

.answer {
    background-color: yellow;
    border: 5px solid beige;
}

/*-----------------
style the ids
-----------------*/

#backing {
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

#banner {
    background-color: lightcoral;
    border: 5px solid beige;
}

#timerDiv {
    background-color: royalblue;
    border: 5px solid beige;
    font-weight: bold;
}

#start-pic {
    height: 346px;
    width: 75%;
    border: 5px solid beige;
}

#end-pic {
    height: 346px;
    width: 75%;
    border: 5px solid beige;
}
